#app{
    position: absolute;
    top: -88px;
    bottom: 88px;
    left: 0;
    right: 0;
}

.background {
    width: 100%;
    height: 100%;
}

.background img {
    width: 100%;
    height: 100%;
}

.time {
    top: 30%;
    left: 50%;
    width: 80%;
    text-align: center;
    position: absolute;
    background-color: white;
    transform: translateX(-50%);
}

.hour {
    top: 74%;
    left: 24%;
    font-size: 38px;
    width: 60px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    background-color: white;
    color: #48bc69;
    transform: translateX(-50%);
}

.bar {
    top: 1.5%;
    left: 15%;
    padding: 0 24px;
    font-weight: bold;
    color: white;
    text-align: center;
    position: absolute;
    background-color: #dec697;
    transform: translateX(-50%);
}

.time .seconds {
    font-size: larger;
    font-weight: bold;
}